.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.users_header {
  font-size: 2rem;
  font-weight: bold;
  color: #617888;
  margin-bottom: 10px;
  text-decoration: underline;
}

.users_view {
  font-size: 2rem;
  margin-top: 100px;
}

.username_view {
  border: 1px solid #ebebeb;
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
}

.form {
  display: block;
  justify-content: center;
  margin-top: 30px;
}

.input_style {
  background-color: #f7f7f7;
  display: inline-block;
  width: 200px;
  padding: 15px;
  margin-left: 10px;
  justify-content: left;
  margin-top: 3px;
  border-radius: 5px;
  border-color: #c3c3c3;
}

.btn_del {
  justify-self: stretch;
  background-color: #fff7f7;
  padding: 15px;
  border-radius: 4px;
  border-color: #c3c3c3;
}

.btn_add {
  justify-self: stretch;
  background-color: #f5fffb;
  padding: 15px;
  border-radius: 4px;
  border-color: #c3c3c3;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
